@font-face {
  font-family: metropolis;
  src: url("../font/Metropolis-Regular.ttf");
}
* {
  font-family: metropolis, "sans-serif";
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.html {
  background: #e5e5e5;
}
.card-body {
  flex: 0 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  padding: 1.25rem;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.card {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
  border-radius: 4px;
}

.h2 {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 700;
  color: #222222;
}

.p-checkout {
  margin-top: 28px;
  margin-bottom: 0px;
  font-weight: 900;
  font-size: 34px;
  line-height: 34px;
  color: #222222;
}

.p-ship {
  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: 900;
  font-size: 14px;
  line-height: 34px;
  color: #222222;
}
